body {
    background-image: url(resources/Background.png);
    background-size: cover;
}


.title {
    text-align: center;
    margin: 50px;
}

.calculator {
    border: 3px solid white;
    width: 30%;
    height: 400px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(247, 100, 100);
}

.screen {
    width: 90%;
    margin: 20px auto auto auto;
    padding: 10px;
    height: 60px;
    border: 1px solid white;
    text-align: right;
    box-sizing: border-box;
    background-color: white;
}

.buttons {
    padding: 20px;
}

button {
    height: 50px;
    width: 50px;
    margin: 7px;
    border: 1px solid gray;
    background-color: rgba(169, 169, 169, 0.7);
    box-sizing: border-box;
}

.operation {
    background-color: rgb(133, 124, 124);
}

button:hover {
    background-color: rgba(169, 169, 169, 1);
}

.calculate {

    height: 110px;
    width: 50px;
    margin: 7px;
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: rgb(88, 81, 81);
    float: right;
}