:root {
    --isabelline: hsla(21, 26%, 89%, 1);
    --isabelline-hover: hsla(21, 26%, 89%, .8);
    --oxford-blue: hsla(224, 35%, 15%, 1);
    --cg-red: hsla(6, 64%, 50%, 1);
    --independence: hsla(224, 26%, 31%, 1);
}

body {
    background-color: var(--independence);
}

h1 {
    color: white;
}

.title {
    text-align: center;
    margin: 50px;
}

.calculator {
    width: fit-content;
    height: 400px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--oxford-blue);
    border: 1px solid white;
}

.screen {
    width: 90%;
    margin: 20px auto auto auto;
    padding: 10px;
    height: 60px;
    text-align: right;
    box-sizing: border-box;
    background-color: white;
}

.buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    gap: 1rem;
}

button {
    height: 50px;
    width: 50px;
    margin: 7px;
    background-color: var(--isabelline);
    box-sizing: border-box;
}

button:hover {
    background-color: var(--isabelline-hover);
}

.calculate {
    height: 110px;
    width: 50px;
    margin: 7px;
    box-sizing: border-box;
}

.del {
    background-color: var(--cg-red);
}